@font-face {
    font-family: "HelveticaCEMedium";
    src: local("HelveticaCEMedium"),
    url(/fonts/HelveticaCEMedium.otf) format('OpenType');
}

body{
    font-family: 'HelveticaCEMedium', sans-serif;
}